:3000 {
    # Caching disabled for now — always serve fresh assets
    header Cache-Control "no-store"

    # Serve transaction files with directory listing + CORS
    handle_path /data/* {
        root * /transactions
        file_server browse
        header Access-Control-Allow-Origin *
    }

    # Serve the PWA
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
